a {
	color: #333;
}

a:hover {
	color: #0062ff;
}

a:visited {
	color: #FF0094;
}

body {
	background-color: #30BF6C;
	font-size: 120%;
	font-family: sans-serif;
	color: #333;
}

.wrapper {
	background-color: #fff;
	width: 80%;
	margin: 3% auto;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	min-height: 400px;



}

header {
	min-height: 20px;
	width: 80%;
}

header .brand {
	font-family: "Yellowtail", cursive;
	font-size: 200%;
	padding: 20px;
	color: #333;
}

header .brand span {
	font-family: 'Amatic SC', cursive;
	padding: 40px;


}

h2 {
	font-family: 'Amatic SC', cursive;
}

.hero {
	height: 300px;	
	background-image: url('../img/costaRica.jpg');
	background-repeat: no-repeat;
	background-size: 100%;

}

.faq p {
	font-size: 90%;
}

article h2 {
	font-size: 200%;
	padding: 0;
}



main {
  float: left;
  width: 68%;
}

content {
 overflow: hidden;
 display: block;
 padding: 40px;
 min-height: 200px;
}

aside {
	float: right;
	width: 30%;

}
aside .section{
	background-color: #FAEB3C;
	padding: 20px;
	display: inline-block;
	

}

aside .section h3{
	text-align: center;
	color: #333;
    text-decoration: underline;
}

aside a {
	padding: 10px 0;
	display: block;
}

.wrap h2 {
	color: red;
	margin-bottom: 10px;
}

footer {
	text-align: center;
	padding: 20px;
	font-size: 90%;
	clear: both;
	min-height: 20px;
}



@media (max-width: 960px) {
	.wrapper {
		width: auto;
	}
 content {
 	float: none;
 	width: auto;
 }
  aside {
  	float: none;
 	width: auto;
 	margin-top: 10px;
  }
  .hero {
  	max-width: 100%;
  }
}

@viewport {
	zoom: 1.0;
	width: extend-to-zoom;

  }
@-ms-viewport {
	zoom: 1.0;
	width: extend-to-zoom;
	
  }


